* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#logo {
    padding: 0px 0px;
    float: left;
}

#menuBar {
    background: url("../views/images/bar.png");
    background-color: red;
}

#menuBar a {
    color: white;
}

#menuBar a:hover {
    color: black;
}

#menuBar .active > a {
    background-color: darkred;
}

#menuNav {
    margin-bottom: 70px;
    border: 0;
}

#menuNav div {
    background: url("../views/images/bar.png");
}

#display {
    margin: 10px 10px 10px 0px;
}

body {
    background: url("../views/images/background.png");
    background-color: red;
}

img {
    width: 100%;
    height: auto;
}

.nopadding, .nopadding div {
    padding: 0;
}

.capitalize {
    text-transform: capitalize;
}

#pokemon-image {
    float: left;
    position: absolute;
    left: 91px;
    top: 42px;
    width: 90%;
    z-index: 1000;
    /*background-color: blue;*/
    max-width: 198px;
    padding: 0;
}


#img-container {
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    min-height: 250px;
}

@Media screen and (max-width: 1199px) {

    #img-container {
        min-height: 250px;
        text-align: center;
    }

    #pokemon-image {
        float: left;
        position: absolute;
        left: 65px;
        top: 28px;
        width: 90%;
        z-index: 1000;
        /* background-color: blue; */
        max-width: 198px;
        padding: 0;
    }
}

@Media screen and (max-width: 990px) {
    #pokemon-image {
        float: left;
        position: absolute;
        left: 50px;
        top: 18px;
        width: 70%;
        z-index: 1000;
        /* background-color: blue; */
        max-width: 148px;
        padding: 0;
    }
}

@Media screen and (max-width: 768px) {

    #img-container {
        min-height: 220px;
        margin: 10px 20px 10px 20px;
        text-align: center;
    }

    #pokemon-image {
        float: left;
        position: absolute;
        left: 171px;
        top: 62px;
        width: 95%;
        z-index: 1000;
        /* background-color: blue; */
        max-width: 350px;
        padding: 0;
    }
}

/*@media screen and (min-width: 900px) {*/
    /*#display .col-lg-4 {*/
        /*width: 33.33333333%;*/
    /*}*/

    /*#display .col-lg-6 {*/
        /*width: 50%;*/
    /*}*/
/*}*/

/*@media (min-width: 900px) {*/
    /*.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {*/
        /*float: left;*/
    /*}*/
/*}*/